[Unit]
Description=Bios Serial Log Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/rpi/Bios_serial_log/app.py
WorkingDirectory=/home/rpi/Bios_serial_log
StandardOutput=append:/home/rpi/Bios_serial_log/service.log
StandardError=append:/home/rpi/Bios_serial_log/error.log
Restart=always
User=rpi

[Install]
WantedBy=multi-user.target
