[Unit]
Description=System State UI Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/rpi/System_Atx/server.py
WorkingDirectory=/home/rpi/System_Atx
StandardOutput=inherit
StandardError=inherit
Restart=always
User=rpi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
