[Unit]
Description=Global IP Flask API
After=network.target

[Service]
# Run the bash script to ensure IP is set
ExecStartPre=/home/rpi/Global_variables/set_global_ip.sh

# Load the environment from /etc/environment
EnvironmentFile=/etc/environment

# Start Flask app
ExecStart=/usr/bin/python /home/rpi/Global_variables/show_ip_driver.py

# Set working directory
WorkingDirectory=/home/rpi

# Restart on failure
Restart=always

# Log to syslog
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
