[Unit]
Description=Run app.py at boot
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/rpi/Firmware/app.py
WorkingDirectory=/home/rpi/Firmware
User=rpi
Group=rpi
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

